{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container" style="margin-top:50px;">
        <div class="row">
            {% for AuctionListing in listings %}
                <div class="col-md-3">
                    <div class="card-sl">
                        <div class="card-image">
                            <img src="{{ AuctionListing.photo }}" alt= "{{ AuctionListing.title }}">
                        </div>

                        <a class="card-action" href="#">&hearts;</a>
                        <div class="card-heading">
                            {{ AuctionListing.title }}
                        </div>
                        <div class="card-text">
                            {{ AuctionListing.description }}
                        </div>
                        <div class="card-text">
                            Current price: €{{ AuctionListing.current_price }}
                        </div>
                        <a href="#" class="card-button"> Bid</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
