{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>

    <br>

    <div class="row">
        <div class="col-md-6">
            <img style="max-width:500px;" src="{{ listing.photo }}" alt= "{{ listing.title }}">
        </div>

        <div class="col-md-6">
            <h3{{ listing.title }}</h3>
            <p>{{ listing.description }}</p>
            <br>
            <p>Seller: {{ listing.seller }}</p>
            <br>
            <p>Current price: €{{ listing.current_price }}</p>
            <button type="submit" class="btn btn-dark">Bid</button>
        </div>
    </div

{% endblock %}
